html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 680px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    width: 1000px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 680px) {
  .row {
    flex-direction: row;
  }
}

.col {
  width: 100%;
  padding: 25px;
}
@media screen and (min-width: 680px) {
  .col-md25 {
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 680px) {
  .col-md50 {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1100px) {
  .col-lg25 {
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 1100px) {
  .col-lg50 {
    flex: 0 0 50%;
  }
}

@keyframes show-menu-action {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes hide-menu-action {
  from {
    display: block;
  }
  to {
    scale: 0;
    display: none;
  }
}
nav {
  display: flex;
  align-items: center;
  background-color: #0D0D0D;
  position: fixed;
  width: 100%;
  z-index: 2;
  color: #D6C5A9;
  padding: 10px;
}

.logo {
  padding-left: 20px;
  flex-basis: 70%;
  font-size: 2rem;
  cursor: pointer;
}

.menu {
  flex-basis: 30%;
  text-align: right;
  padding-right: 30px;
}

nav .material-icons {
  color: inherit;
  font-size: 3rem;
  text-align: right;
  cursor: pointer;
}

.navigation {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
  background-color: #0D0D0D;
  animation: hide-menu-action 0.5s;
  color: #D6C5A9;
}
@media screen and (min-width: 680px) {
  .navigation {
    width: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .navigation {
    width: 25%;
  }
}
.navigation .material-icons {
  color: #D6C5A9;
  font-size: 3rem;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.navigation ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navigation li {
  flex-basis: 10%;
  width: 100%;
  text-align: center;
  display: flex;
}
.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  font-size: 1.6rem;
}
.navigation a:hover {
  background-color: #44010d;
  color: #D6C5A9;
}

.showMenu {
  display: block;
  animation: show-menu-action 0.5s;
}

@keyframes show-header-box {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
header {
  background: url("../assets/img/bg-header.webp") center/cover fixed;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}
header .header-box {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  animation: show-header-box 2.7s linear;
}
@media screen and (min-width: 680px) {
  header .header-box {
    padding: 50px;
  }
}
@media screen and (min-width: 1100px) {
  header .header-box {
    padding: 80px;
  }
}
header h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  line-height: 2.4rem;
  z-index: 1;
}
@media screen and (min-width: 680px) {
  header h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1100px) {
  header h1 {
    font-size: 7rem;
    line-height: 7.5rem;
    margin-bottom: 25px;
  }
}
header::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}
header p {
  margin-bottom: 40px;
  width: 90%;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
@media screen and (min-width: 680px) {
  header p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    width: 70%;
  }
}
@media screen and (min-width: 1100px) {
  header p {
    font-size: 1.5rem;
    line-height: 1.9rem;
    width: 50%;
  }
}
header a {
  text-decoration: none;
  text-align: center;
  color: #8C0303;
  background-color: #D6C5A9;
  font-weight: bolder;
  font-size: 110%;
  width: 200px;
  height: 60px;
  border-radius: 6px;
  line-height: 60px;
  transition: 0.4s;
}
header a:hover {
  background-color: #8C0303;
  color: #D6C5A9;
  transform: translateX(20px);
  scale: 1.2;
}

section {
  min-height: 100vh;
  padding-top: 120px;
}
section h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}
section p {
  margin-bottom: 20px;
  line-height: 1.35rem;
}

footer {
  color: black;
}

/*# sourceMappingURL=style.css.map */
